<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>moduleName</key>
		<string>皮肤</string>
		<key>className</key>
		<string>BISkinViewController</string>
		<key>clearCacheActionName</key>
		<string>clearCache</string>
		<key>returnSizeActionName</key>
		<string>canClearSize</string>
		<key>CachePath</key>
		<array>
			<string>/Library/Cache/com.yykit.module</string>
			<string>/Library/Cache/1.bin</string>
		</array>
	</dict>
	<dict>
		<key>moduleName</key>
		<string>图片</string>
		<key>moduleID</key>
		<string>1</string>
		<key>className</key>
		<string>BIImageViewController</string>
		<key>clearCacheActionName</key>
		<string>clearCache</string>
		<key>returnSizeActionName</key>
		<string>canClearSize</string>
	</dict>
</array>
</plist>
